

     <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                  Edit  Blogs
                   
                </h1>

                <%= render 'form', blog: @blog %>
</div>
</div>




